<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{proj_name}}</title>
  <style>
  html {
    font-family: arial;
  }
  </style>
  <!--
  <link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />
  -->
  <!-- move to local due to no Internet -->
  <link rel="stylesheet" href="css/xterm.css" />
</head>
<body>

<span style="font-size: 1.4em;">{{ proj_name }}</span>&nbsp;&nbsp;&nbsp;
<span style="font-size: small;">status: <span style="font-size: small;" id="status">connecting...</span></span>

<div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div>

<!--
<p style="text-align: right; font-size: small;">
  built by <a href="https://grassfedcode.com">Chad Smith</a> <a href="https://github.com/cs01">GitHub</a>
</p>
-->

<!-- xterm -->
<!--
<script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
-->

<!-- move xterm to local due to no Internet -->
<script src="js/xterm.js"></script>
<script src="js/fit.js"></script>
<script src="js/webLinks.js"></script>
<script src="js/fullscreen.js"></script>
<script src="js/search.js"></script>
<script src="js/socket.io.js"></script>


<script>

  function findGetParameter(parameterName) {
      var result = null,
          tmp = [];
      location.search
          .substr(1)
          .split("&")
          .forEach(function (item) {
            tmp = item.split("=");
            if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
          });
      return result;
  }
  var client_num = findGetParameter("client_num")

  Terminal.applyAddon(fullscreen)
  Terminal.applyAddon(fit)
  Terminal.applyAddon(webLinks)
  Terminal.applyAddon(search)
  const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
    });
  term.open(document.getElementById('terminal'));
  term.fit()
  term.resize(15, 50)
  console.log(`size: ${term.cols} columns, ${term.rows} rows`)
  // term.toggleFullScreen(true)
  term.fit()
  //term.write("Welcome to pyxterm.js!\nhttps://github.com/cs01/pyxterm.js\n")
  term.write("Welcome: " + client_num + "\n")
  term.on('key', (key, ev) => {
    console.log("pressed key", key)
    console.log("event", ev)
    socket.emit("pty-input", {"input": key, "client_num": client_num})
  });

  const socket = io.connect('/pty');
  const status = document.getElementById("status")

  // yjj: Register user
  socket.emit("pty-user", {"client_num": client_num})

  socket.on("pty-output", function(data){
    console.log("new output", data)
      if (data.client_num == client_num) {
        term.write(data.output)
      }
  })

  socket.on("connect", () => {
    fitToscreen()
    status.innerHTML = '<span style="background-color: lightgreen;">connected</span>'
    }
  )

  socket.on("disconnect", () => {
    socket.emit("pty-disconnect", {"client_num": client_num})
    status.innerHTML = '<span style="background-color: #ff8383;">disconnected</span>'
  })

  function fitToscreen(){
    term.fit()
    socket.emit("resize", {"cols": term.cols, "rows": term.rows, "client_num": client_num})
  }

  function debounce(func, wait_ms) {
    let timeout
    return function(...args) {
      const context = this
      clearTimeout(timeout)
      timeout = setTimeout(() => func.apply(context, args), wait_ms)
    }
  }

  const wait_ms = 50;
  window.onresize = debounce(fitToscreen, wait_ms)


</script>

</body>
</html>
